<footer class="footer-7 ">
    <div class="container">
        <a href="#"><span class="fui-home"> </span></a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://blog.jipio.com">Blog</a></li>
                <li><a href="http://blog.jipio.com/press">Press</a></li>
                <li class="scroll-btn"><a href="#" class="scroll-top fui-arrow-up"> </a></li>
                <li><a href="http://blog.jipio.com/terms">Terms</a></li>
                <li><a href="http://blog.jipio.com/privacy">Privacy</a></li>
                <li><a href="http://blog.jipio.com/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="social-btns">
            <a href="https://vimeo.com/jipio" target="_blank">
                <div class="fui-vimeo"></div>
                <div class="fui-vimeo"></div>
            </a>
            <a href="http://facebook.com/getjipio" target="_blank">
                <div class="fui-facebook"></div>
                <div class="fui-facebook"></div>
            </a>
            <a href="http://twitter.com/jip_io" target="_blank">
                <div class="fui-twitter"></div>
                <div class="fui-twitter"></div>
            </a>
        </div>
    </div>
</footer>
