        <header class="header-21">
    <div class="container">
        <div class="navbar span12">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar nav-pull-left"></button>
                <a class="brand" href="#">Startup</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">HOME</a></li>
                        <li><a href="#delen">Delen</a></li>
                        <li><a href="#lenen">Lenen</a></li>
                        <li><a href="#ruilen">Ruilen</a></li>
                        <li><a href="#vrienden">Vrienden</a></li>
                    </ul>
                    <form class="navbar-form pull-right">
                        <a class="btn" href="#">Signin with Facebook</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-21-sub v-center" style="height: 796px;">
    <div>
        <div class="background" style="background: url({{site.assets}}images/linda.jpg) no-repeat center center fixed; background-size: cover;">&nbsp;</div>
        <div class="container">
            <h3><img class="hl" src="{{site.assets}}common-files/icons/Infinity-Loop@2x.png" width="100" height="100" alt="">
                Startup Framework</h3>
            <p class="lead">You have the design, you have the code</p>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>

