        <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

        {% if site.owner.twitter %}<!-- Twitter Card and Open Graph tags -->
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
        <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image:src" content="{% if page.image.thumb %}{{ site.url }}/images/{{ page.image.thumb }}{% else %}{{ site.url }}/images/{{ site.logo }}{% endif %}">{% endif %}

        <meta property="fb:app_id" content="641357275923283">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:url" content="{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}">
        <meta property="og:site_name" content="{{ site.title }}">

        {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
        <link rel="canonical" href="{{ canonical }}">
        <link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
        {% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

        <link rel="shortcut icon" href="{{site.logo}}">
        <link rel="stylesheet" href="public/css/site.css">
        <link rel="stylesheet" href="{{site.assets}}flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{site.assets}}flat-ui/css/flat-ui.css">
        <link rel="stylesheet" href="{{site.assets}}common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{site.assets}}common-files/css/animations.css">
        <link rel="stylesheet" href="{{site.assets}}ui-kit/ui-kit-header/css/style.css">
        <link rel="stylesheet" href="{{site.assets}}ui-kit/ui-kit-content/css/style.css">
        <link rel="stylesheet" href="{{site.assets}}ui-kit/ui-kit-footer/css/style.css">
